.cartSubInfo {
  margin-bottom: 50px;
  color: #807d7e;
  font-size: 14px;
  line-height: 18px;
  .toLogin {
    color: #8a33fd;
    display: inline;
  }
}
.productDetailsBg {
  background-color: #3c4242;
  padding: 28px 100px;
  margin-bottom: 70px;
  .productDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    .detailsData {
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        margin: 0 50px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.cartProduct {
  display: flex;
  border-bottom: 1px solid #bebcbd;
  padding-bottom: 50px;
  margin-bottom: 50px;
  .productData {
    width: 50%;
    display: flex;
    gap: 20px;
    img {
      width: 105px;
      height: 120px;
      object-fit: cover;
      border-radius: 12px;
    }
    .productInfo {
      h4 {
        color: #3c4242;
        font-size: 18px;
        font-weight: 700;
      }
      .prodInfo {
        color: #807d7e;
        font-size: 14px;
        font-weight: 500;
        div {
          margin-bottom: 5px;
        }
      }
    }
  }
  .productOtherData {
    width: 50%;
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        margin: 0 50px;
        color: #3c4242;
        font-size: 18px;
        font-weight: 700;
        &:last-child {
          margin-right: 0;
        }
        .counterProduct {
          height: 42px;
          display: flex;
          align-items: center;
          position: relative;
          .amount {
            display: block;
            width: 45px;
            font-weight: bold;
            outline: none;
          }
          
          .changeAmount {
            position: absolute;
            right: 0;
            top: 0;
            display: flex;
            flex-direction: column;
            .countCart {
              cursor: pointer;
              color: #8a33fd;
              transition: 0.3s all ease-in-out;
              &:hover {
                color: #fd3373;
                transition: 0.3s all ease-in-out;
              }
            }
          }
        }
      }
      .totalPrice {
        color: #bebcbd;
      }
      .btnDelete {
        cursor: pointer;
        color: #8a33fd;
        transition: 0.3s all ease-in-out;
        &:hover {
          transition: 0.3s all ease-in-out;
          color: #fd3373;
        }
      }
    }
  }
}
