.favTitle {
  color: #3c4242;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 50px;
}
.wrapperFavoriteProducts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  .favProduct {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 895px;
    width: 100%;
    gap: 36px;
    padding-bottom: 30px;
    border-bottom: 1px solid #EDEEF2;
    .wrapperProductData {
      display: flex;
      gap: 36px;
      span {
        align-self: center;
        .removeFromFav {
          cursor: pointer;
          color: #8a33fd;
          transition: 0.3s all ease-in-out;
          &:hover {
            color: #fd3373;
            transition: 0.3s all ease-in-out;
          }
        }
      }
      img {
        height: 110px;
        width: 110px;
        object-fit: cover;
        border-radius: 8px;
      }
    }
    .productDataCart {
      display: flex;
      align-items: center;
      gap: 50px;
    }
  }
}
