.searchWrapper {
  padding: 12px 20px;
  background-color: #f6f6f6;
  border-radius: 10px;
  display: flex;
  align-items: center;
  input {
    background-color: #f6f6f6;
    margin-left: 12px;
    color: #807D7E;
    font-size: 16px;
    outline: none;
  }
}
